################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Adapter/.vs/Adapter/DesignTimeBuild
